@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Zen+Antique+Soft&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  image-rendering: -webkit-optimize-contrast;
}

small {
  font-weight: 400;
  font-size: 12px;
  line-height: 180%;
}

h5 {
  font-weight: 500;
  font-size: 12px;
  line-height: 180%;
}

.ex-container {
  width: 307px;
  height: 100%;
  background: #ffffff;
  align-items: center;
  display: none;
}

.ex-container.active{
    display: block;
}

.result-container{
    width: 307px;
    height: 100%;
    background: #ffffff;
    align-items: center;
    display: none;
}
.result-container.active{
    display: block;
}


.tabs-btn {
  width: 100%;
  display: flex;
}

.tabs-btn button {
  width: 50%;
  height: 37px;
  background: #f7f7f7;
  border: none;
  border-bottom: 10px;
}
.tabs-btn button.active {
  background: #fff;
}

.nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.credits {
  width: 123px;
  height: 28px;
  background: #ffffff;
  border: 1px solid #fb3e3e;
  border-radius: 50px;
  text-align: center;
  display: grid;
  justify-items: center;
}

.credits p {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.fetch-btn {
  margin: 0 auto;
  display: grid;
  justify-items: center;
  /* border: 1px solid cornflowerblue; */
}
.fetch-btn button {
  width: 270px;
  height: 36px;
  background: #fb3e3e;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: none;
  color: #fff;
}

.side-panel {
  position: fixed;
  right: -50%;
  top: 0;
  height: 100vh;
  width: 307px;
  background: #fff;
  box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px,
    rgb(0 0 0 / 20%) 0px -3px 0px inset;
  transition: all 0.3s linear;
  z-index: 3147483650 !important;
}

.result-panel {
    position: fixed;
    right: 10%;
    top: 0;
    height: 100vh;
    width: 307px;
    background: #fff;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px,
      rgb(0 0 0 / 20%) 0px -3px 0px inset;
    transition: all 0.3s linear;
    z-index: 3147483650 !important;
  }
.minimize-icon-container{
    position: absolute;
    right: 2%;
    top: 0%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F6F6F6;
    background: #fff;
    cursor: pointer;
  }

.logo{
    width: 267px;
    height: 24px;
    display: grid;
    justify-items: center;
    /* border: 1px solid cornflowerblue; */
}
.logo img{
    width: 92px;
    height: 24px;
    background: transparent;
}

.url{
    width: 260.5px;
    height: 38px;
    margin: 1.5em 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #121212;
    border-radius: 5px;
    /* border: 1px solid cornflowerblue; */
}
.url .first-child{
    width: 70%;
    display: flex;
    align-items: center;
    gap: .5em;  
}
.url .first-child img{
    width: 20px;
    height: 20px;
}

.url .second-child{
    margin-top: -.4em;
}

.url .second-child img{
    width: 5px;
    height: 6px;
}
.border{
    width: 262px;
    height: 0px;
    border: 1px dashed rgba(156, 156, 156, 0.4);
    border-radius: 13px;
}
.form-and-btn{
    width: 260.5px;
    height: 108px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn{
    width: 100%;
    height: 38px;
    background: #FB3E3E;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 180%;
    text-align: center;
    text-decoration: none;
}

.btn:hover{
    background: #f33d3d;
}

.frm{
    width: 260.5px;
    height: 38px;
}

.frm .input-field{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    border: 1px solid #121212;
}
.input-field input{
    width: 80%;
    color: #666;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 180%;
    outline: none;
}
.input-field button{
    border: none;
    background: transparent;
}
.copy-btn-container{
    width: 260.5px;
    height: 60px;
    display: flex;
    border: 1px solid #9C9C9C;
    border-radius: 5px;
}

.copy-btn{
    width: 53px;
    background: #FB3E3E;
    color: #fff;
    border: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;

}
.copy-btn:hover{
    cursor: pointer;
}
.copy-btn-container div{
    width: 207px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
}
.copy-btn-container div p{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
}


.mssg-for-user{
    width: 80%;
    height: 30px;
    margin: 0 auto;
    margin-top: 3em;
    text-align: center;
    font-size: 12px;
    padding-top: .4em;
    border-radius: 5px;
    color: #121212;
    border: none;
    display: none;
}

.mssg-for-user.active{
    display: block;
}
.mssg-for-user.danger{
    background: rgb(255, 227, 227);
}


.platform-sec{
    width: 90%;
    height: 400px;
    margin: 40% auto;
    display: none;
    /* border: 1px solid cornflowerblue; */
}

.platform-sec.active{
    display: flex;
}

input.hover, input:focus{
    outline: none;
}

.login-frm{
    width: 100%;
    height: 252px;
    margin: 0 auto;
}

.frm-row{
    width: 100%;
    height: 38px;
    margin: 0 auto;
    margin-top: 1.5em;
    display: grid;
    justify-items: center;
}

.frm-row img{
    width: 92px;
    height: 24px;
    margin: .5em auto;
}
.frm-row #email{
    width: 90%;
    height: 38px;
    padding: 0 1em;
    background: #FFFFFF;
    border: 1px solid #9C9C9C;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.frm-row #login-btn{
    width: 90%;
    height: 38px;
    padding: 0 1em;
    background: #FB3E3E;
    border: none;
    color: #fff;
    font-weight: 600;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    transition: all .3s linear;
}
.frm-row #login-btn:hover{
    background: #ff0909;
}


.frm-pass-row {
    width: 90%;
    height: 38px;
    margin: 0 auto;
    margin-top: 1.2em;
    display: flex;
    justify-items: center;
    align-items: center;
    border: none;
    border: 1px solid #9C9C9C;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
#ex-password{
    width: 90% !important;
    height: 35px;  
    margin: 15px 0px !important;
    padding: 0 1em !important;
    background: #FFFFFF !important;
    border: none !important;
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    border-radius: 10px;
}

#ex-password:focus, #ex-password:hover{
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
}

.toggle-mode-btn{
    border: none;
    background: transparent;
}
.frm-pass-row img{
    width: 15px;
    height: 15px;
}

.app-sec{
    width: 95%;
    height: 90%;
    min-height: 40px;
    margin: 1em auto;
    display: none;
    border: 1px solid crimson;
}
.app-sec.active{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.extension-search{
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: none;
    border: 1px solid cornflowerblue;
}
.extension-search.active{
    display: flex;
}

.platform-search{
    height: 55%;
    display: flex;
    align-items: center;
    display: none;
    border: 1px solid cornflowerblue;
}
.platform-search.active{
    display: flex;
}



/* loading animation */

.loader {
    position: relative;
    width: 75px;
    height: 100px;
}
.loader__bar {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 50%;
    background: #121212;
    transform-origin: center bottom;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
}
.loader__bar:nth-child(1) {
    left: 0px;
    transform: scale(1, 0.2);
    animation: barUp1 4s infinite;
}
.loader__bar:nth-child(2) {
    left: 15px;
    transform: scale(1, 0.4);
    animation: barUp2 4s infinite;
}
.loader__bar:nth-child(3) {
    left: 30px;
    transform: scale(1, 0.6);
    animation: barUp3 4s infinite;
}
.loader__bar:nth-child(4) {
    left: 45px;
    transform: scale(1, 0.8);
    animation: barUp4 4s infinite;
}
.loader__bar:nth-child(5) {
    left: 60px;
    transform: scale(1, 1);
    animation: barUp5 4s infinite;
}
.loader__ball {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #FB3E3E;
    border-radius: 50%;
    animation: ball 4s infinite;
}
@keyframes ball {
    0% {
        transform: translate(0, 0);
   }
    5% {
        transform: translate(8px, -14px);
   }
    10% {
        transform: translate(15px, -10px);
   }
    17% {
        transform: translate(23px, -24px);
   }
    20% {
        transform: translate(30px, -20px);
   }
    27% {
        transform: translate(38px, -34px);
   }
    30% {
        transform: translate(45px, -30px);
   }
    37% {
        transform: translate(53px, -44px);
   }
    40% {
        transform: translate(60px, -40px);
   }
    50% {
        transform: translate(60px, 0);
   }
    57% {
        transform: translate(53px, -14px);
   }
    60% {
        transform: translate(45px, -10px);
   }
    67% {
        transform: translate(37px, -24px);
   }
    70% {
        transform: translate(30px, -20px);
   }
    77% {
        transform: translate(22px, -34px);
   }
    80% {
        transform: translate(15px, -30px);
   }
    87% {
        transform: translate(7px, -44px);
   }
    90% {
        transform: translate(0, -40px);
   }
    100% {
        transform: translate(0, 0);
   }
}
@keyframes barUp1 {
    0% {
        transform: scale(1, 0.2);
   }
    40% {
        transform: scale(1, 0.2);
   }
    50% {
        transform: scale(1, 1);
   }
    90% {
        transform: scale(1, 1);
   }
    100% {
        transform: scale(1, 0.2);
   }
}
@keyframes barUp2 {
    0% {
        transform: scale(1, 0.4);
   }
    40% {
        transform: scale(1, 0.4);
   }
    50% {
        transform: scale(1, 0.8);
   }
    90% {
        transform: scale(1, 0.8);
   }
    100% {
        transform: scale(1, 0.4);
   }
}
@keyframes barUp3 {
    0% {
        transform: scale(1, 0.6);
   }
    100% {
        transform: scale(1, 0.6);
   }
}
@keyframes barUp4 {
    0% {
        transform: scale(1, 0.8);
   }
    40% {
        transform: scale(1, 0.8);
   }
    50% {
        transform: scale(1, 0.4);
   }
    90% {
        transform: scale(1, 0.4);
   }
    100% {
        transform: scale(1, 0.8);
   }
}
@keyframes barUp5 {
    0% {
        transform: scale(1, 1);
   }
    40% {
        transform: scale(1, 1);
   }
    50% {
        transform: scale(1, 0.2);
   }
    90% {
        transform: scale(1, 0.2);
   }
    100% {
        transform: scale(1, 1);
   }
}